/*Btn de cursos/alumnos Show ver todos o 10*/
.dt-buttons button{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.button-page-length{
    margin-top: 30px;
}

#div-chart{
    width: 500px;
    height: 500px;
    margin-left: 25%;
}
#div-chartBar{
    width: 70%;
    height: 500px;
    margin-left: 15%;
}

@media (min-width: 1200px) {
    .modal-dialog.modal-custom-size {
        width: 60%;
        max-width: 1200px; /* Puedes cambiar este valor para ajustar el ancho máximo del modal */
    }
}